<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Host" value="http://api-integracao-extra.hlg-b2b.net" />
		<add key="Token" value="H9xO4+R8GUy+18nUCgPOlg=="/>
		<!-- O parametro HostMock foi utilizado somente porque o servico de Nota fiscal (PDF e XML) estavam fora, e para testar criamos um web service mock que retorna byte[] desses arquivos.
		     Então, se esse serviço estiver ok, basta retirar esse parametro que os testes de Nota Fiscal entenderão -->
		<add key="HostMock" value="http://localhost:8080" />
	</appSettings>
</configuration>